/* ---------------------------------------------------Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Beiruti Light', 'Nunito', 'Work Sans', 'Open Sans', sans-serif;
    font-weight: lighter;
}

body {
    background-color: #F0EFE8;
    color: #3d2c2c;
    padding-top: 60px;
    
}

.contenido-oculto {
    display: none;
}

#principal {
    min-height: 100vh; /* Para asegurarte de que tenga suficiente espacio */
    overflow: visible !important; /* Asegura que el contenido no se esconda */
}

/* ------------------------------------------------------Barra de navegación */
.cookie-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro y opaco */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 9999; /* Asegura que esté por encima de todo */
    padding-bottom: 20px;
}

.cookie-message {
    background-color: #cfcec3;
    padding: 10px 50px;
    border-radius: 90px;
    text-align: center;
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Nunito', sans-serif;
    bottom: 0;
}

.cookie-message h3 {
    font-size: 1.4rem;
    margin-bottom: 5px;
    color: #3d2c2c;
    font-weight: bold;
}

.cookie-message p {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #3d2c2c;
    line-height: 1.4;
}

.cookie-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaciado entre los botones */
}

.cookie-buttons .btn {
    background-color: #3d2b29;
    color: #f6e8e3;
    border: none;
    padding: 0px 10px;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9rem;
}

.cookie-buttons .btn:hover {
    background-color: #5a3f3c;
}


/* ------------------------------------------------------Barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c2421;
    padding: 10px 20px;
    border-radius: 0 0 20px 20px;
    position: fixed; /* Fija la barra de navegación */
    top: 0; /* La mantiene en la parte superior */
    left: 0;
    width: 100%; /* Asegura que cubra todo el ancho */
    z-index: 1000; /* Se asegura de que esté por encima del resto del contenido */
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: -18px;
    right: 20px;
}

.nav-buttons button {
    background-color: #3b2f2a;
    color: #f6e8e3;
    border: none;
    padding: 11px 15px;
    border-radius: 0 0 30px 30px; /* Borde redondeado solo abajo */
    cursor: pointer;
    transition: background 0.3s ease;
    width: 120px;
}

.nav-buttons button:hover {
    background-color: #d9d9d9;
    color: #2c2421;
}


.logo img {
    height: 40px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    background-color: #d9d9d9;
    border: none;
    padding: 8px 15px;
    border-radius: 12px;
    cursor: pointer;
    width: 150px;
    height: 30px;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links li {
    list-style: none;
    background-color: #3b2f2a;
    padding: 8px 12px;
    border-radius: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #f6e8e3;
}

.nav-links a:hover {
    color: #d9d9d9;
}

/* ----------------------------------------------------- Contenedor principal */
.container {
    max-width: none; /* Elimina la restricción de ancho */
    width: 100vw; /* Asegura que ocupe toda la pantalla */
    padding: 20px; /* Mantiene el espaciado */
}

.title {
    font-family: 'Inknut Antiqua', 'EB Garamond', 'Lora', 'Cormorant Garamond', serif;
    text-align: left;
    font-size: 5.0rem;
    padding-left: 15%;
    margin-top: 40px;
}

.subtitle {
    font-family: 'Inknut Antiqua', 'EB Garamond', 'Lora', 'Cormorant Garamond', serif;
    text-align: left;
    font-size: 2.0rem;
    padding-left: 15%;
    margin-top: -10px;
    margin-bottom: 30px;
}

.line {
    width: 90%;
    height: 1px;
    background-color: black;
    margin: 10px auto;
}

h2{
    font-family: 'Inknut Antiqua', 'EB Garamond', 'Lora', 'Cormorant Garamond', serif;
}

.content {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: #886F6F;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Permite mejor adaptación en pantallas pequeñas */
    gap: 2rem;
}

.image {
    width: 35%;
    min-width: 280px;
    padding-right: 10px;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.text {
    width: 40%;
    max-width: 500px; /* Evita que el texto se alargue demasiado */
    min-width: 280px;
    color: #e6ded6;
    font-size: 1.15rem;
    line-height: 1.6;
    text-align: justify;
}

@media screen and (max-width: 650px) {
    .text {
        font-size: 1rem;
        text-align: center;
    }
}

/* ----------------------------------------------------- Contenedor pasos */
.pasos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f5f1eb; /* Color de fondo */
    padding: 0;
    width: 100%;
    margin-top: -20px;
    margin-bottom: 40px;
}

.contenedor-pasos {
    display: flex;
    flex-direction: column; /* Apila los elementos */
    align-items: center; 
    background-color: #CCC9BF;
    border-radius: 0 0 90px 90px;
    width: 50%;
    height: auto; /* Se ajusta según el contenido */
    max-width: 900px;
    padding-bottom: 20px;
}

.fila-pasos {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Hace que los .paso ocupen todo el ancho */
}

.paso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    padding: 10px;
    position: relative;
    height: 220px;
}

.paso p {
    font-size: 14px;
    font-weight: bold;
    color: #3d2c2c;
    position: absolute;
    bottom: -30px; /* Mueve el texto fuera del cuadro */
    text-align: center;
    width: 100%;
    top: calc(100% + 10px); /* Lo coloca debajo con un espacio de 10px */
}

.paso .imagen {
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    bottom: 10px; /* Posiciona la imagen en la parte inferior */
    
}

.paso .imagen img {
    height: 150%;
    width: auto;
}

.paso:nth-child(1) {
    background-color: #DAD1BF; /* Beige */
    height: 300px;
    border-radius: 0 0 100px 100px;
}

.paso:nth-child(2) {
    background-color: #A69985; /* Café */
    border-radius: 0 0 100px 100px;
    height: 350px;
}

.paso:nth-child(3) {
    background-color: #C7AD76; /* Amarillo */
    height: 400px;
    border-radius: 0 0 100px 100px;
}

.paso p {
    width: 90%;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
    color: #3d2c2c;
}

/* Nota y aclaración ocupando todo el ancho */
.info-adicional {
    width: 68%;
    text-align: center;
    padding: 15px;
    background-color: #CCC9BF;
    border-radius: 0 0 90px 90px;
    margin-top: 70px;
}

.nota, .aclaracion {
    font-size: 13px;
    color: #5a4a42;
    margin: 5px 0;
}

/* ----------------------------------------------------Sección aventura */
.adventure {
    background: #655252; 
    color: #f6e8e3;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    margin-bottom: 40px;
}

.adventure-content {
    display: flex;
    align-items: center;
    width: 60%;
    max-width: 900px;
}

.adventure-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background: #EDEDE8; /* Color de fondo */
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}

.adventure-image img {
    width: 110%;
    border-radius: 10px;
}

.adventure-image button {
    background: #886F6F;
    color: #f6e8e3;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    margin: 20px 0;
    border-radius: 30px;
    cursor: pointer;
    width: 70%;
    height:45px;
}

.adventure-text {
    width: 60%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.adventure-text h2 {
    font-family: 'Inknut Antiqua', 'EB Garamond', 'Lora', 'Cormorant Garamond', serif;
    font-size: 1.8rem;
}

.adventure-text p {
    font-size: 18px;
    line-height: 1.5;
    width: 70%;
}


/* ------------------------------------------------------Sección mapa */

.map {
    text-align: center;
    padding: 50px 20px;
}

.map-container img {
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%; /* Hace que la imagen sea un círculo */
    border: 4px solid #3d2c2c; /* Agrega un borde visible */
    object-fit: cover; /* Asegura que la imagen se ajuste correctamente dentro del círculo */
}

.cafeterias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Se ajusta automáticamente */
    grid-auto-rows: auto; /* Las filas se adaptan según el contenido */
    justify-content: center;
    align-items: center;
    height: 40%; /* Ocupa la mitad de la pantalla */
    width: 70%;
    gap: 5px; /* Espaciado entre imágenes */
    margin: 0 auto;
}

.cafeterias a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cafeterias img {
    width: 100%;
    max-width: 120px; /* Tamaño máximo */
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.cafeterias img:hover {
    transform: scale(1.1);
}

/* ------------------------------------------------------------Sección únete */
.unete {
    background: #ddd; /* Color de fondo similar al de la imagen */
    padding: 40px 2%; /* Espaciado interno y margen lateral */
    border-radius: 20px; /* Bordes redondeados */
    text-align: center; /* Centrar contenido */
    max-width: 60%; /* Ancho máximo */
    margin: 0 auto; /* Centrar horizontalmente */
    margin-top: 40px;
    margin-bottom: 40px;
}

.negrilla {
    font-weight: bold;
}

.unete h2 {
    font-family: 'Inknut Antiqua', serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.unete p {
    width: 100%;
    font-family: 'Beiruti Light', sans-serif;
    font-size: 16px;
    padding: 15px;
    display: inline-block; /* Ajuste al contenido */
    text-align: center;
    border-radius: 10px;
}

.unete a.boton {
    display: inline-block;
    background: #8A6D6D; /* Color marrón del botón */
    color: #f6e8e3;
    padding: 12px 20px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 15px;
    transition: background 0.3s;
}

.unete a.boton:hover {
    background: #6C5353;
}
/*-------------------------------------------------------registro*/
.registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #AE9696;
    padding: 80px;
    border-radius: 0px;
}

.registro-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45%;
}

.registro-form input {
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #f6e8e3;
    font-size: 14px;
    color: #3d1c1a;
}

.btn-usuario {
    background-color: #4a2f2b;
    color: #f6e8e3;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.registro-image {
    width: 40%;
    text-align: center;
}

.registro-image img {
    width:100%;
    height: auto;
    aspect-ratio: 11/7; /* Ancho mayor que alto */
    object-fit: cover;
    border-radius: 15px;
    display: block;
}

.registro-admin {
    background-color: #f6e8e3;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    
}

.registro-admin p {
    font-size: 14px;
    color: #3d1c1a;
}

.btn-admin {
    background-color: #4a2f2b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

/* ---------------------------------------------------------------Pie de página */
.pie-de-pagina {
    background-color: #2c2421; /* Fondo oscuro elegante */
    color: #ffffff; /* Texto blanco para contraste */
    padding: 20px 10px; /* Espaciado interno */
    text-align: center; /* Centra el contenido */
    border-radius: 20px 20px 0 0; /* Bordes redondeados en la parte superior */
    position: relative;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    margin-top: 20px;
}

.pie-de-pagina .contine {
    max-width: 1200px; /* Limita el ancho máximo */
    margin: 0 auto; /* Centra el contenido */
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    justify-content: space-between; /* Espacia los elementos */
    align-items: center;
    gap: 20px; /* Espaciado entre elementos */
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.pie-de-pagina .menu ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 15px; /* Espaciado entre enlaces */
    flex-wrap: wrap; /* Ajusta los enlaces en pantallas pequeñas */
    align-items: center;
}


.pie-de-pagina .menu ul li {
    margin: 0;
}

.pie-de-pagina .menu ul li a {
    text-decoration: none; /* Elimina el subrayado */
    color: #ffffff; /* Texto blanco */
    font-size: 14px; /* Tamaño de fuente más pequeño */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 20px; /* Bordes redondeados */
    background-color: #3b2f2a; /* Fondo para los enlaces */
    transition: background-color 0.3s ease; /* Transición suave */
    display: inline-block; /* Asegura que los botones se comporten como bloques */
    text-align: center; /
}

.pie-de-pagina .menu ul li a:hover {
    background-color: #886F6F; /* Cambia el color al pasar el mouse */
}

.img figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-de-pagina .img img {
    width: 100px; /* Reduce el tamaño de la imagen */
    height: auto; /* Mantiene la proporción */
    margin: 0 auto; /* Centra la imagen */
    display: block; /* Asegura que esté centrada */
}

.pie-de-pagina .linea-separadora {
    width: 80%;
    height: 1px;
    background-color: #D1D1D1;
    margin: 5px auto;
    opacity: 0.5; /* Línea más sutil */
}

.pie-de-pagina .redes-sociales {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Espaciado entre íconos */
    margin-top: 5px; /* Espaciado respecto a la línea */
    flex-wrap: wrap; /* Permite que los íconos se ajusten si no hay espacio */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    text-align: right; /* Centra los íconos */
}
.redes-sociales a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: white;
    color: #231815;
    font-size: 18px;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.pie-de-pagina .redes-sociales a:hover {
    background: #886F6F; /* Cambia el color al pasar el mouse */
    color: #ffffff; /* Cambia el color del ícono */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}

.redes-sociales a:hover {
    background: #C29C99;
    color: white;
}

.pie-de-pagina p {
    font-size: 12px; /* Tamaño de fuente más pequeño */
    margin-top: 10px;
    color: #D1D1D1; /* Texto gris claro */
}

/* --------------------------------------------------------------- Seccion locales*/
.zone {
    border-bottom: 1px solid #4a3a3a;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem 1rem;
}

.zone h3 {
    font-family: 'Inknut Antiqua', 'EB Garamond', 'Lora', 'Cormorant Garamond', serif;
    font-size: 2.5rem; 
    margin-bottom: 2rem;
    margin-top: 0;      
}

.cafes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.cafe {
    width: 250px;
    text-align: center;
}

.cafe img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}
/* --------------------------------------------- seccion ingreso */
.ingreso-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #AE9696;
    padding: 20px 0;
    border-radius: 0px; /* Sin bordes redondeados arriba/abajo */
    margin: 0;
    flex-wrap: wrap;
    width: 100%; /* Ocupa todo el ancho */
    min-height: 500px; 
  }
  
  .ingreso-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    max-width: 500px;
  }
  
  .ingreso-form input {
    padding: 14px;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    font-size: 16px;
    color: #3d1c1a;
  }
  
  .input-password {
    position: relative;
  }
  
  .input-password input {
    width: 100%;
    padding-right: 40px; /* Espacio para el icono */
  }
  .input-container {
    position: relative;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
  }
  
  .input-container input {
    width: 100%;
    padding: 12px 45px 12px 15px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    outline: none;
    box-sizing: border-box;
  }
  
  /* 👁️ Ajusta el ícono del ojo */
  .toggle-password {
    position: absolute;
    top: 30%;  
    right: 20px;
    transform: translateY(-10%);
    cursor: pointer;
  }
  
  .toggle-password svg {
    width: 24px;
    height: 24px;
  }
  
  .toggle-password {
    position: absolute;
    top: 12px;
    right: 20px;
    cursor: pointer;
    font-size: 18px;
    color: #3d1c1a;
  }
  
  #btn-usuario, #btn-usuario_admin, #btn-usuario_registro, #btn-usuario-admin, #btn-usuario-registro-admin {
    max-width: 300px;
    width: 70%;
    background-color: #3d2b29;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    #btn-usuario, #btn-usuario_admin, #btn-usuario_registro, #btn-usuario-admin, #btn-usuario-registro-admin {
        width: 50%; /* Reduce el ancho en pantallas grandes */
    }
}
  
  #btn-usuario:hover, #btn-usuario_admin:hover, #btn-usuario_registro:hover, #btn-usuario-admin:hover, #btn-usuario-registro-admin:hover {
    background-color: #5a3f3c;
  }
  
  .ingreso-image {
    width: 40%;
    max-width: 400px;
    display: flex;
    justify-content: center;
  }
  
  .ingreso-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 30px;
  }
  .linea-blanca {
    border: none;
    border-top: 1px solid #ffffff;
    width: 90%;
    margin: 20px 0 5px 0;
  }

/* -------------------------------------------------------------- Seccioón cafés */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta automáticamente las columnas */
    gap: 30px; /* Espaciado entre las tarjetas */
    padding: 20px 60px;
    justify-content: center; /* Centra las tarjetas */
    max-width: 65%;
    margin: 0 auto;
}

.card {
    background-color: #D9D1BF;
    border-radius: 15px; /* Bordes redondeados */
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    text-align: center; /* Centra el contenido */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}

.card:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más intensa al pasar el mouse */
}

.card img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción */
    border-radius: 10px; /* Bordes redondeados para las imágenes */
    margin-bottom: 10px;
}

.card-content {
    font-family: 'Beiruti', 'Nunito', 'Arial', sans-serif; /* Fuentes con respaldo */
    font-size: 0.9rem; /* Tamaño de fuente */
    color: #3d2c2c; /* Color del texto */
    line-height: 1.4; /* Mejora la legibilidad */
}

.card-content .code {
    font-weight: bold; /* Resalta el texto */
    margin-bottom: 5px; /* Espaciado entre líneas */
}

.card-content .LocalName {
    margin-bottom: 5px; /* Espaciado entre líneas */
}

@media screen and (max-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr); /* Mantiene dos columnas */
        gap: 15px; /* Reduce el espacio entre las tarjetas */
        padding: 10px 20px; /* Reduce el padding general */
    }

    .card {
        padding: 10px; /* Reduce el padding interno de las tarjetas */
        border-radius: 10px; /* Reduce los bordes redondeados */
    }

    .card img {
        border-radius: 8px; /* Reduce los bordes redondeados de las imágenes */
    }

    .card-content {
        font-size: 0.8rem; /* Reduce el tamaño del texto */
    }
}

/*---------------------------------------------------------------------------------------------- Seccion nosotros */ 

.passport-section {
    display: flex;
    align-items: center;
    font-family: 'Beiruti', sans-serif;
    background-color: #D9D1BF;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-bottom: 40px;
    
}

.passport-image {
    width: 40%;
    border-radius: 10px;
    margin-right: 20px;
}

.passport-text {
    font-family: 'Beiruti', 'Nunito', 'Arial', sans-serif; /* Beiruti como principal, Nunito y Arial como respaldo */
    font-size: 0.9rem; /* Ajusta el tamaño de la fuente según sea necesario */
    line-height: 1.6; /* Mejora la legibilidad */
    color: #3d2c2c; 
    width: 60%;
    
}

.passport-title {
    
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.1;
}

/* Estilos para invertir la posición de la imagen y el texto en la segunda y cuarta sección */
.reverse {
    flex-direction: row-reverse;
}

.reverse .passport-image {
    margin-left: 20px;
    margin-right: 0;
}

/* ----------------------------------------------------------------------------------------------------- Perfil - Información del usuario */
/* Contenedor principal de perfil-info */
.perfil-info {
    background-color: #AE9696; /* Fondo que se extiende hasta los extremos */
    padding: 30px 0; /* Espaciado vertical */
    width: 100%; /* Asegura que ocupe todo el ancho */
}

/* Contenedor interno para centrar el contenido */
.perfil-info .perfil-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px; /* Espacio entre los bloques */
    max-width: 60%; /* Limita el ancho máximo del contenido */
    margin: 0 auto; /* Centra horizontalmente */
    color: #ffffff; /* Color del texto */
}

.perfil-datos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px; /* Espacio entre los elementos */
}

.perfil-datos p {
    background-color: #453636; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    font-size: 0.9rem; /* Tamaño del texto */
    margin: 0; /* Elimina márgenes */
}

.perfil-datos a {
    color: #ffffff;
    text-decoration: underline;
    font-size: 0.9rem;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

.perfil-datos .btn {
    margin: 20px auto 10px; /* Reduce el margen inferior del botón */
    background-color: #6C5353;
    width: 100%;
    color: white;
    border: none;
    padding: 0% 30px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    white-space: nowrap;
}

.perfil-datos .btn:hover {
    background-color: #6C5353;
    transform: scale(1.05);
}

.perfil-bienvenida {
    margin-top: 10px; /* Reduce el espacio entre el botón y el texto */
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.6;
    text-align: justify;
    padding: 20px;
}

/* Perfil - Sellos */
.perfil-sellos,
.perfil-premios {
    max-width: 70%; /* Limita el ancho máximo */
    margin: 0 auto; /* Centra horizontalmente */
    text-align: center; /* Centra el texto */
}

.perfil-sellos h3 {
    font-family: 'Inknut Antiqua', 'EB Garamond', 'Lora', 'Cormorant Garamond', serif;
    font-size: 2rem; /* Título más grande */
    margin-top: 40px; /* Espacio encima del título */
    margin-bottom: 20px; /* Espacio debajo del título */
    color: #3d2c2c;
    text-transform: uppercase; /* Texto en mayúsculas */
}

.sellos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Más espacio entre los sellos */
    justify-content: center;
    padding: 20px; /* Espaciado interno */
}

.sellos-container img {
    width: 90px; /* Sellos más grandes */
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    transition: transform 0.3s ease; /* Animación al pasar el mouse */
}

.sellos-container img:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el mouse */
}

/* Perfil - Premios */
.perfil-premios {
    margin-bottom: 40px;
}

.perfil-premios h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #3d2c2c;
}

.premios-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.premio {
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    max-width: 300px; /* Limita el ancho máximo de cada premio */
}

.premio p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #3d2c2c;
}

.premio .btn {
    background-color: #886F6F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.premio .btn:hover {
    background-color: #6C5353;
}

.nota-premios {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #3d2c2c;
    text-align: center;
}

/* --------------------------------------------------------------------------------- Cambio de Contraseña */
.cambio-contrasena-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #b2968c; /* Fondo similar al diseño */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra */
    color: #ffffff;
}

.cambio-contrasena-text {
    flex: 1;
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
}

.cambio-contrasena-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cambio-contrasena-form input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    color: #333;
}

.cambio-contrasena-form input::placeholder {
    color: #aaa;
}

.cambio-contrasena-form #btn-cambiar-contrasena {
    background-color: #6C5353;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cambio-contrasena-form #btn-cambiar-contrasena:hover {
    background-color: #453636;
    transform: scale(1.05);
}

.cambio-contrasena-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Nueva Contraseña */
.nueva-contrasena-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #b2968c;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.nueva-contrasena-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nueva-contrasena-form input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    color: #333;
}

.nueva-contrasena-form input::placeholder {
    color: #aaa;
}

.nueva-contrasena-form .btn-usuario {
    background-color: #6C5353;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nueva-contrasena-form .btn-usuario:hover {
    background-color: #453636;
    transform: scale(1.05);
}

.nueva-contrasena-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Responsivo */

@media (max-width: 768px) {
    .cambio-contrasena-container,
    .nueva-contrasena-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cambio-contrasena-image img,
    .nueva-contrasena-image img {
        max-width: 100%;
    }
    .perfil-info .perfil-content {
        flex-direction: column; /* Apila los elementos verticalmente */
        align-items: center; /* Centra los elementos */
        text-align: center; /* Centra el texto */
    }

    .perfil-datos {
        width: 100%; /* Asegura que ocupe todo el ancho */
        margin-bottom: 10px; /* Reduce el espacio debajo del botón */
    }

    .perfil-datos .btn {
        margin: 10px; /* Reduce el margen superior e inferior del botón */
        width: auto; /* Ajusta el ancho del botón automáticamente */
        padding: 0px 40px; /* Ajusta el tamaño del botón */
    }

    .perfil-bienvenida {
        width: 100%; /* Asegura que ocupe todo el ancho */
        margin-top: 10px; /* Reduce el espacio encima del texto */
        text-align: center; /* Centra el texto */
        padding: 10px; /* Reduce el padding interno */
    }
}

@media (max-width: 768px) {
    .ingreso-container {
        flex-direction: column-reverse; /* Apila los elementos verticalmente */
        gap: 10px; /* Reduce el espacio entre elementos */
    }
    
    .ingreso-image {
        width: 80%; /* Aumenta el ancho de la imagen en pantallas pequeñas */
        display: flex;
        justify-content: center;
    }
    
    .ingreso-image img {
        width: 90%; /* Reduce el tamaño de la imagen */
        height: auto; /* Mantiene la proporción */
        aspect-ratio: 16/9; /* Hace que sea más ancha que alta */
        border-radius: 15px; /* Mantiene bordes redondeados */
        object-fit: cover; /* Ajusta la imagen para que se vea bien */
    }

    .ingreso-form {
        width: 90%; /* Asegura que el formulario ocupe más espacio */
    }

    .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .menu ul li a {
        font-size: 14px;
    }

    .img img {
        width: 120px;
    }

    .linea-separadora {
        width: 80%;
    }

    .redes-sociales {
        justify-content: center;
        padding: 10px 0;
    }

    .redes-sociales a {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
}

@media screen and (max-width: 650px) {
    .adventure-content  {
        width: 80%;
    }

    .adventure-text  {
        width: 60%;
    }

    .adventure-text p {
        font-size: 0.8rem;
        text-align: center;
    }
}